{% load static %}
<section class="instagram_photo">
        <div class="container-fluid>
            <div class="row">
                <div class="col-lg-12">
                    <div class="instagram_photo_iner">
                        <div class="single_instgram_photo">
                            <img src="{% static 'img/instagram/inst_1.png' %}" alt="">
                            <a href="#"><i class="ti-instagram"></i></a> 
                        </div>
                        <div class="single_instgram_photo">
                            <img src="{% static 'img/instagram/inst_2.png' %}" alt="">
                            <a href="#"><i class="ti-instagram"></i></a> 
                        </div>
                        <div class="single_instgram_photo">
                            <img src="{% static 'img/instagram/inst_3.png' %}" alt="">
                            <a href="#"><i class="ti-instagram"></i></a> 
                        </div>
                        <div class="single_instgram_photo">
                            <img src="{% static 'img/instagram/inst_4.png' %}" alt="">
                            <a href="#"><i class="ti-instagram"></i></a> 
                        </div>
                        <div class="single_instgram_photo">
                            <img src="{% static 'img/instagram/inst_5.png' %}" alt="">
                            <a href="#"><i class="ti-instagram"></i></a> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->