{% load static %}

<!-- jquery plugins here-->
        <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
        <!-- popper js -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- easing js -->
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
        <!-- swiper js -->
        <script src="{% static 'js/swiper.min.js' %}"></script>
        <!-- swiper js -->
        <script src="{% static 'js/mixitup.min.js' %}"></script>
        <script src="{% static 'js/price_rangs.js' %}"></script>
        <!-- particles js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
        <!-- slick js -->
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <!-- custom js -->
        <script src="{% static 'js/custom.js' %}"></script>